$text-primary-col: #ced4da;
$text-hover-col: #fff;
$bg-primary-col: #222222;
$btn-outline-col: #228be6;

// Mixing
@mixin position-ab-left {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin position-ab-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin width-height-100($height: 100%) {
  width: 100%;
  height: $height;
}
// General

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  caret-color: transparent;
  scrollbar-width: auto;
  scrollbar-color: lighten($bg-primary-col, 25%);
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #978d8d;
    background: $bg-primary-col;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($bg-primary-col, 10%);
    border-radius: 9px;
  }
}

//Background Image Settings

.backgroundimg {
  z-index: 0;
  height: 100vh;
  @include position-ab-left();
  @include width-height-100(100vh);
  object-fit: cover;
  pointer-events: none;
  position: fixed !important;
}

.blackBackground {
  height: 100vh;
  background-color: #000;
  @include position-ab-left();
  @include width-height-100();
  z-index: 1;
  opacity: 0.6;
  position: fixed;
}

.blurry {
  @include position-ab-left();
  @include width-height-100();
  background-color: #090909c3;
  z-index: 99;
  background-color: rgba(9, 9, 9, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
  transition: all 1s;
}

button,
#btn-boxscore {
  font-size: 1.6rem;
  border: 2px $btn-outline-col solid;
  border-radius: 2rem;
  padding: 0.8rem 2.4rem;
  background-color: darken(rgba($btn-outline-col, 0.3), 50%);
  transition: background-color 1s !important;
  color: $text-hover-col;

  &:hover {
    background-color: darken(rgba($btn-outline-col, 0.4), 10%);
    cursor: pointer;
    transition: background-color 1s;

    span {
      color: lighten($btn-outline-col, 20%);
      transition: color 1s;
    }
  }
  span {
    color: $btn-outline-col;
    transition: color 1s;
  }
}

//Footer
footer {
  display: block;
  font-size: 1.2rem;
  z-index: 100;
  width: 100%;
  text-align: center;
  padding: 0.2rem;
  font-weight: 600;
  position: fixed;
  position: relative;
  bottom: 0;
}
