@media screen and (max-width: 80.5rem) {
  nav {
    display: flex;
    justify-content: center;
    height: 7.25rem;

    background-color: rgba(34, 34, 34, 1);
    .nav-flex {
      justify-content: center !important;
      .list {
        background-color: blue;
        display: none;
      }
    }
    .burgerMenu {
      display: block;
      align-self: center;
      justify-items: flex-end !important;
      position: absolute;
      right: 0;
      margin-right: 2.4rem;
      cursor: pointer;
    }

    .mobile-menu {
      display: block;
    }
  }
}
@media screen and (max-width: 61rem) {
  html,
  body {
    font-size: 55.5%;
  }

  .player-team-details {
    .Player-Team-Info-Flex {
      gap: 1.2rem;
    }
    .season-careers-stats {
      // position: relative;
    }
  }

  .season-careers-stats {
    .Stats-Flex {
      justify-content: center;
      flex-wrap: wrap;
      gap: 3.2rem;
      h4 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
    .Avg-Flex {
      gap: 1.4rem;
      gap: 0.8rem;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 40rem) {
  .home {
    h1 {
      font-size: 2.4rem;
    }
  }
  .season-careers-stats {
    .Stats-Flex {
      padding: 0.8rem 0rem;
    }
  }
}
@media screen and (max-width: 29rem) {
  html,
  body {
    font-size: 55.5%;
  }
}
@media screen and (max-width: 26rem) {
  html,
  body {
    font-size: 52.5%;
  }

  .player-team-details {
    p {
      font-size: 1.6rem;
    }
  }
}
@media screen and (max-width: 18rem) {
  html,
  body {
    font-size: 35.5% !important;
  }

  nav .navLogo {
    display: none;
  }

  .player-team-details {
    h1 {
      font-size: 6.4rem;
    }
    h2 {
      font-size: 3.6rem;
    }
  }

  .season-careers-stats {
    .Stats-Flex {
      .Avg-Flex {
        gap: 0.8rem;
      }
    }
  }
}

// Heights
@media screen and (max-height: 58rem) {
  .player-team-details {
    // margin: 0;

    h1 {
      font-size: 4.8rem;
    }
    h2 {
      font-size: 2.4rem;
    }
    .Player-Team-Info-Flex {
      gap: 1.2rem;
    }
  }
  .season-careers-stats {
    .Stats-Flex {
      gap: 1.4rem;
    }
  }
}
@media screen and (max-height: 50rem) {
  html,
  body {
    font-size: 50.5%;
    font-size: 48.5%;
  }
  nav {
    .btn {
      cursor: pointer;
      font-size: 1.6rem;
    }
  }
  .closemenu-flex {
    gap: 1.6rem !important;
  }

  .player-team-details {
    .Height-Record {
      margin: 2.4rem 0;
    }
    .Player-Team-Info-Flex {
      gap: 1.2rem;
    }
  }
}

@media screen and (max-height: 40rem) {
  // @media screen and (max-height: 43.5rem) {
  .player-team-details {
    .season-careers-stats {
      position: relative;
    }
  }
}
@media screen and (max-height: 41rem) and (max-width: 43.5rem) {
  // @media screen and (max-height: 43.5rem) {
  .player-team-details {
    .season-careers-stats {
      position: relative;
    }
  }
}
@media screen and (max-height: 21rem) {
  html,
  body {
    font-size: 45.5%;
  }

  nav {
    .btn {
      cursor: pointer;
      font-size: 2.6rem;
    }
  }

  .closemenu-flex {
    gap: 0 !important;
  }
}
